body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1{
    font-size: 40px;
}
.rong{
    color:orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
    height: 100%;
}
.head{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.link-hire{
    text-decoration: none;
    color: white;
    font-weight: 800;
    background-image: linear-gradient(45deg,salmon,orange);
    padding: 10px 20px;
}
.head2{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.head2 p{
    color: grey;
}
.shadow{
    box-shadow: 10px 10px 40px grey;
    height: 80%;
    border-radius: 5px;
    background-color: white;
    

}
.experience{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
#half{
    border-left: 7px solid;
    border-image: linear-gradient(salmon,orange);
    border-image-slice: 1;
}
#half2{
    border-left: 7px solid;
    border-image:linear-gradient(blue,cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    font-size: 12px;
}